*{
  box-sizing:border-box;
}
body{
  margin:auto;
  font-family: 'Poppins',sans-serif;
}
/** nav style **/
nav{
  display: flex;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--logo{
  max-width:100px;
}
/** end nav**/
/**hero style**/
.contianer{
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 13px #C0F;
  background-color: #0C0115B5;
}
.imgs-box{
  width: 100%;
  height: 500px;
}
.desc{
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-left: 33px;
}
.exp-info{
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin-left: 52px;
  color: #222;
}
/** card css**/
.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: auto;
    margin-left: 48px;
    margin-top: 55px;
}

.card {
    width: 185px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column; 
    position: relative;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
    height: 240px;
}

/* ADD */
.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

/* ADD */
.card--price {
    margin-top: auto;
}
.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 4px;
font-weight: bold;
color: gray;
}
/** footer**//
fot-info{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 3px;
}